@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
span {
  font-family: inherit;
  font-weight: inherit;
}

.greenShadow {
  box-shadow: 3px 3px 0 0 #60fa77;
}

.greenShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #6afa60;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 15px; /* Adjust this to maintain the aspect ratio */
}

.iframe-widget {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Adjust the height as needed */
  border: none;
}


